# Updating data frames

## Updating values in a dataframe

Start by importing packages and data

In [1]:
import pandas as pd
import numpy as np
import random # used for randomly sampling integers

# set seed
random.seed(42)

# load data
URL = 'https://raw.githubusercontent.com/allisonhorst/palmerpenguins/main/inst/extdata/penguins.csv'
penguins = pd.read_csv(URL)

In [2]:
# Add column body_mass in kg
penguins['body_mass_kg'] = penguins['body_mass_g']/1000

# confirm new column is in the dataframe
print('body_mass_kg' in penguins.columns)

True

In [3]:
# create random 3-digit codes
codes = random.sample(range(100,1000), len(penguins)) # sampling without replacement

In [4]:
len(penguins)

344

In [5]:
# insert codes at the front of data frame
penguins.insert(loc=0, # index
               column='id_code',
               value = codes)

In [6]:
penguins.head()

,id_code,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year,body_mass_kg
0,754,Adelie,Torgersen,39.1,18.7,181.0,3750.0,male,2007,3.75
1,214,Adelie,Torgersen,39.5,17.4,186.0,3800.0,female,2007,3.80
2,125,Adelie,Torgersen,40.3,18.0,195.0,3250.0,female,2007,3.25
3,859,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN,2007,NaN
4,381,Adelie,Torgersen,36.7,19.3,193.0,3450.0,female,2007,3.45

# a single value
access a single value in `pandas.dataframe` using locators

- `at[]` select by labels
- `iat[]` to select index position

syntax
```
df.at[single_index_value, 'column_name']
```

*`at[]` is the equivalent of `loc[]` when accessing a single value

### example

In [7]:
penguins = penguins.set_index('id_code')
penguins

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year,body_mass_kg
id_code,,,,,,,,,
754,Adelie,Torgersen,39.1,18.7,181.0,3750.0,male,2007,3.750
214,Adelie,Torgersen,39.5,17.4,186.0,3800.0,female,2007,3.800
125,Adelie,Torgersen,40.3,18.0,195.0,3250.0,female,2007,3.250
859,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN,2007,NaN
381,Adelie,Torgersen,36.7,19.3,193.0,3450.0,female,2007,3.450
...,...,...,...,...,...,...,...,...,...
140,Chinstrap,Dream,55.8,19.8,207.0,4000.0,male,2009,4.000
183,Chinstrap,Dream,43.5,18.1,202.0,3400.0,female,2009,3.400
969,Chinstrap,Dream,49.6,18.2,193.0,3775.0,male,2009,3.775
635,Chinstrap,Dream,50.8,19.0,210.0,4100.0,male,2009,4.100
883,Chinstrap,Dream,50.2,18.7,198.0,3775.0,female,2009,3.775

What was the bill length of the penguin ID=309 ?

In [8]:
# check bill length of bill length ID = 833
penguins.at[833, 'bill_length_mm']

40.6

In [9]:
# correct bill length of penguin ID = 833
penguins.at[833, 'bill_length_mm'] = 38.3

# confirm value has updates
penguins.loc[833]

species              Adelie
island               Biscoe
bill_length_mm         38.3
bill_depth_mm          18.6
flipper_length_mm     183.0
body_mass_g          3550.0
sex                    male
year                   2007
body_mass_kg           3.55
Name: 833, dtype: object

if we want to access or udpate single value by index position, we use iat[] locator:

`df.iat[index_integer_location, column_integer_location]`

# dynamically get the location of a single column

`df.columns.get_loc('column_name')`

# check in

1. Obtain the location of the bill_length_mm column.

2. Use iat[] to access the same bill length value for the penguin with ID 833 and revert it back to an NA. Confirm your update using iloc[].

In [10]:
# set to nan using iat[]
bill_length_index = penguins.columns.get_loc('bill_length_mm')

penguins.iat[3, bill_length_index] = np.nan
penguins.iloc[3]

species                 Adelie
island               Torgersen
bill_length_mm             NaN
bill_depth_mm              NaN
flipper_length_mm          NaN
body_mass_g                NaN
sex                        NaN
year                      2007
body_mass_kg               NaN
Name: 859, dtype: object

# multiple values in a column

### Using a condition

Examples:
We want to classify the palmer penguins such that:

- penguisn with body mass < 3 kg are small
- penguins with 3kg <= body mass < 5kg are medium
- penguins with body mass > 5kg are large

In [11]:
# create a list with conditions
conditions = [penguins.body_mass_kg < 3,
             (3 <= penguins.body_mass_kg) & (penguins.body_mass_kg < 5),
             5 <= penguins.body_mass_kg]

# create list with choices
choices = ['small',
           'medium',
           'large']

# add the selections using np.select
penguins['size'] = np.select(conditions, choices, 
                             default = np.nan) # value for anything outside conditions

# display updated dataframe
penguins.head()

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year,body_mass_kg,size
id_code,,,,,,,,,,
754,Adelie,Torgersen,39.1,18.7,181.0,3750.0,male,2007,3.75,medium
214,Adelie,Torgersen,39.5,17.4,186.0,3800.0,female,2007,3.80,medium
125,Adelie,Torgersen,40.3,18.0,195.0,3250.0,female,2007,3.25,medium
859,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN,2007,NaN,nan
381,Adelie,Torgersen,36.7,19.3,193.0,3450.0,female,2007,3.45,medium

## update values by selecting them

we can do this with `loc` or `iloc` and assigning new alues

`df.loc[row selection, column names] = new values`

using `loc[]` in assignment modifies the data frame directly without the need for reassignment

### Example
update the 'male' values in the sex column to 'M'

In [13]:
# select rows sex = male and simplify values in 'sex' column
penguins.loc[penguins.sex == 'male', 'sex'] = 'M'

In [14]:
# check changes in sex column
print(penguins.sex.unique())

['M' 'female' nan]

### Best practices

we want to update the 'female' values in 'sex' column to 'F'

In [17]:
# select rows where 'sex' is female and attempt to update values
penguins[penguins.sex == 'female']['sex'] = "F" # returns 'setting with copy' warning

/tmp/ipykernel_1052814/1407227471.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  penguins[penguins.sex == 'female']['sex'] = "F" # returns 'setting with copy' warning

**avoid chaned indexing** `[][]` and use `.loc[]` instead. this warning happens generally when there is chained indexing:

`df[row_selection][column_selection] = new_value`

## Check in 
1. update the female values without the warning and check programatically the values were updated

In [23]:
# select rows where 'sex' is female and update values
penguins.loc[penguins.sex == 'female', 'sex'] = 'F'

In [24]:
penguins.sex.unique()

array(['M', 'F', nan], dtype=object)

this warning comes up because some `pandas` operations return a view, and others return a copy of your data.

- **Views**: actual subsets of the original data, when we update them, we are modifying the original data frame.
- **copies**: unique objects, independent of our original data frames. when we update a copy we are not modifying the original data.

In [25]:
# select penguins from Biscoe island
biscoe = penguins[penguins.island == 'Biscoe']

# ... other analyses ...

# add a column
biscoe['sample_column'] = 100
# will still return the warning

/tmp/ipykernel_1052814/624302000.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  biscoe['sample_column'] = 100

we can also explicitely ask for a copy of the dataset when subsetting using the `copy()` method.

In [26]:
# select penguins from Biscoe island
biscoe = penguins[penguins.island == 'Biscoe'].copy()

# ... other analyses ...

# add a column
biscoe['sample_column'] = 100